# Dépendances
node_modules/
dist/
dist-ssr/
build/
.vite/

# Secrets & Variables d'environnement
.env
.env.*
!.env.example
*.local
*.pem
*.key
*.cert

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Fichiers temporaires & tests
coverage/
temp/
tmp/

# IDE & OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
